:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --navbar-color-light: #b1b1b1;

    --background-color-dark: #000000;
    --text-color-dark: #ffffff;
    --navbar-color-dark: #343a40;
}

body.light {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s; 
}

body.dark {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
    transition: background-color 0.3s, color 0.3s; 
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: fixed; 
    top: 0;
    left: 0;
}

.logo {
    width: 160px;
    height: 120px;
    cursor: pointer;
    margin-left: 25px;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: row;
    gap: 15px;
}

.navbar-links button {
    background: none; 
    border: none; 
    color: inherit; 
    font-size: 17px;
    cursor: pointer; 
    font-weight: 600;
    outline: none; 
}

/* .navbar-links button:focus {
    outline: none;
} */


.theme-toggle-button {
    width: 50px;
    cursor: pointer;
    margin-left: auto; 
    margin-right: 27px;
    align-items: center;
    padding: 25px;
}

.navbar.light {
    background-color: var(--navbar-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s; 
}

.navbar.dark {
    background-color: var(--navbar-color-dark);
    color: var(--text-color-dark);
    transition: background-color 0.3s, color 0.3s; 
}
