#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;

}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  margin: 2em auto;
  width: 450px;
  background-color: #cfdad9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(206, 189, 189, 0.1);
  /* text-align: center; */
  transition: background-color 0.3s, color 0.3s;
}

.main-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2em;
  box-sizing: border-box;
  overflow-y: auto; /* Make the main page scrollable */
  transition: background-color 0.3s, color 0.3s;
}

.card-main-page {
  padding: 2em;
  margin: 2em ;
  width: 900px;
  background-color: #cfdad9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(206, 189, 189, 0.1);
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

@media (prefers-color-scheme: dark) {

  body {
    background-color: #151516;
    color: whitesmoke;
  }

  .card {
    background-color: #333;
    color: whitesmoke;
  }

  .card-main-page {
    background-color: #333;
    color: whitesmoke;
  }

  .main-page-p{
    color: whitesmoke;
  }

  .card h2 {
    color: whitesmoke; /* Ensure the "Log In" message is visible */
  }

  label {
    color:rgb(180, 180, 180)
  }

  .remember-me-label{
    color: #afafaf;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background-color: #444444; 
    color: #ffffff; 
    border: 1px solid #555555;
  }

  button {
    background-color: rgb(100, 116, 161) ;
    color: white;
  }

  button:hover {
    background-color: rgb(19, 29, 41);
  }

}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff; /* Light background color */
    color: #000000; /* Dark text color */
  }

  .card {
    background-color: #e0e0e0; /* Light card background color */
    color: #000000; /* Dark text color */
  }

  .card-main-page {
    background-color: #e0e0e0; /* Light card background color */
    color: #000000;
  }

  .main-page-p{
    color: #333;
  }

  label{
    color: #333;
  }

  .remember-me-label{
    color: #201c1c;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background-color: #ffffff; /* Light input background color */
    color: #000000; /* Dark text color */
    border: 1px solid #cccccc; /* Light border color */
  }

  button {
    background-color: rgb(100, 116, 161); /* Button background color */
    color: white; /* Button text color */
  }

  button:hover {
    background-color: rgb(19, 29, 41); /* Button hover background color */
  }
}

/* Automatic mode styles */
@media (prefers-color-scheme: no-preference) {
  body {
    background-color: #ebf2f3; /* Automatic background color */
    color: #000000; /* Dark text color */
  }

  .card {
    background-color: #cfdad9; /* Automatic card background color */
    color: #000000; /* Dark text color */
  }

  label {
    color: #333;
  }

  .remember-me-label{
    color: #201c1c;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    background-color: #ffffff; /* Light input background color */
    color: #000000; /* Dark text color */
    border: 1px solid #cccccc; /* Light border color */
  }

  button {
    background-color: rgb(100, 116, 161); /* Button background color */
    color: white; /* Button text color */
  }

  button:hover {
    background-color: rgb(19, 29, 41); /* Button hover background color */
  }
}

/* Light theme styles */
body.light {
  background-color: #ffffff;
  color: #000000;
}

.card.light {
  background-color: #e0e0e0;
  color: #000000;
}

.card-main-page.light {
  background-color: #e0e0e0;
  color: #000000;
}

.main-page-p.light {
  color: #333;
}

.card h1.light,
.card h2.light,
.card h3.light {
  color: #333;
}

label.light,
.remember-me-label.light {
  color: #333;
}

/* Dark theme styles */
body.dark {
  background-color: #151516;
  color: whitesmoke;
}

.card.dark {
  background-color: #333;
  color: whitesmoke;
}

.card-main-page.dark {
  background-color: #333;
  color: whitesmoke;
}

.main-page-p.dark {
  color: whitesmoke;
}

.card h1.dark,
.card h2.dark,
.card h3.dark {
  color: whitesmoke;
}

label.dark,
.remember-me-label.dark {
  color: rgb(180, 180, 180);
}

.fin1-image {
  display: block;
  margin: 0 auto 1em;
  width: 200px;
  height: auto;
}

.card h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.main-page-p {
  color: #666;
  font-size: 1.2em;
  margin-bottom: 1em;
  font-weight: 500;
}

.card h2 {
  /* color: #333; */
  font-size: 2em;
  margin: 0%;
}


.card h3 {
  color: #4b4b4b;
  font-size: 0.8em;
  font-weight: 500;
  font-style: italic;
}

label {
  display: block;
  margin: 0.5em 0 0;
  font-weight: bold;
  /* color: #333; */
  text-align:left;
}

.remember-me-label{
  display: inline-block;
  margin-left: 0.2em;
  margin-bottom: 0.2em;
  font-weight: normal;
  /* color: #201c1c; */
  text-align: left;
}

/* input[type="checkbox"] {
  margin: 0.6em 0.2em 0em 0em;
  color: #ccc;
} */

/* Style the input fields */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.75em;
  margin: 0.2em 0;
  border: 1px solid #ccc;
  background-color: rgb(236, 236, 235);
  color: #333;
  border-radius: 4px;
  box-sizing: border-box;
}

.password-container {
  position: relative;
  width: 100%;
  color: #000;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Style the buttons */
button {
  width: 100%;
  padding: 0.4em;
  margin: 0.5em 0 0.2em;
  border: none;
  border-radius: 4px;
  background-color: rgb(100, 116, 161);
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: rgb(19, 29, 41);
}

.navigate-text {
  margin-top: 1em;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.navigate-text:hover {
  color: #0056b3;
}

/* Style the error message */
p {
  color: red;
  font-size: 0.875em;
}
